<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard">Mediconnect</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="role === 'PATIENT'">
                    <a class="nav-link" routerLink="/add-clinic">Add Clinic</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <app-logout></app-logout>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-dark bg-primary px-3">
    <span class="navbar-brand mb-0 h1">IPL</span>
  
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item" *ngIf="role === 'PATIENT'">
          <a class="nav-link" routerLink="/add-clinic">Add Clinic</a>
      </li>
  </ul>
  
    <button class="btn btn-outline-light">
      Logout
    </button>
  </nav>