.doctor-list {
<<<<<<< HEAD
  button {
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
  }
}
=======
    button {
      margin-bottom: 10px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
      }
    }
  }
  
>>>>>>> 118ccd8d52eea741e0a6783b2a5e48572b06fae1
